* {
       border-radius: 14px;
}
:root {
       --text: #0d070e;
       --background: #f9f4f9;
       --primary: #f9d0fb;
       --secondary: #d0a5ba;
       --accent: #bf869a;
}
body { 
       background-color: var(--background);
       color: var(--text);
       font-weight: normal;
       font-family: Nunito, sans-serif;
}
header {
       background-color: var(--secondary);
       color: #FFFFFF;
       text-align: center;
       font-weight: normal;
}
header a {
       text-decoration: none;
}
header a:link {
       color: #FFFFFF;
}
header a:visited {
       color: #FFFFFF;
}
header a:hover {
       color: var(--accent);
}
h1 { 
       margin-bottom: 0; 
       margin-top: 0;
       padding-top: 0.5em;
       padding-bottom: 0.5em;
       letter-spacing: 0.25em;
       font-family: 'Playfair Display', serif;
       font-weight: bold;
}
nav {
       font-weight: 500;
       padding: 0;
       font-size: 120%;
       text-align: center;
}
nav li {
       border-bottom: 1px solid #000033;
}
nav ul {
       list-style-type: none;
       margin: 0;
       padding-left: 0;
       font-size: 1.2em;
}
nav a:link {
       color: var(--text);
}
nav a:visited {
       color: var(--text);
}
nav a:hover {
       color: var(--accent);
}
nav a {
       text-decoration: none;
}
main {
       background-color: #FFFFFF;
       padding: 1px 20px 20px 30px;
       display: block;
       overflow: auto;
}
h2 {
       color: var(--accent);
       font-family: 'Playfair Display', serif;
       font-weight: 600;
}
h3 {
       color: var(--accent);
       font-family: 'Playfair Display', serif;
       font-weight: 500;
}
h3 a:link {
       color: var(--accent);
}
h3 a:visited {
       color: var(--accent);
}
h3 a:hover {
       color: var(--secondary);
}
h3 a {
       text-decoration: none;
}
footer {
       font-size: 75%;
       font-style: italic; 
       text-align: center;
       padding: 2em;
       font-family: 'Poppins', sans-serif;
       background-color: var(--secondary);
       color: #FFFFFF;
}
.about-me {
       display: flow-root; 
       padding: 20px;
}
.profile-pic {
       float: left;
       width: 150px;
       height: 150px;
       margin-right: 20px;
}
.cards-section {
       text-align: center;
       padding: 60px 20px;
       background-color: var(--background);
}
.cards section h3 {
       text-align: center;
}
.card-container {
       display: flex;
       flex-wrap: wrap;
       gap: 30px;
       justify-content: center;
       flex-direction: row;
}
.card {
       background-color: #FFFFFF;
       border-radius: 16px;
       padding: 30px 20px;
       width: 280px;
       box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
/* Add effect for hover over cards */
.card-image {
       width: 100%;
       object-fit: cover;
}
.card h3 {
       font-family: 'Poppins', sans-serif;
       font-size: 24px;
       color: var(--accent);
       margin-bottom: 10px;
}


#homehero {
       height: 300px;
       background-image: url(gamcheon.jpg);
       background-repeat: no-repeat;
       background-size: 100% 100%;
}